/* Regular weight */
@import url('https://fonts.googleapis.com/css?family=Circular');

/* Bold weight */
@import url('https://fonts.googleapis.com/css?family=Circular:bold');


* {
    font-size: 0.9rem;
    font-family: 'Circular', sans-serif;
    font-weight: bold;
}
::-webkit-scrollbar {
    display: none;
}
h1 {
    font-size: 1.8rem;
    font-weight: bold;
}
h2 {
    font-size: 1.1rem;
    font-weight: bold;
}
body > div {
    height: 100vh!important;
    width: 100vw!important;
}

.bg-black {
    background-color: black;
}
.bg-fading-black {
    background-color: #00000069;
}
.bg-dark-blue {
    background-color: #151922;
}
.bg-grey {
    background-color: #a3a3a3;
}
.bg-dark-grey {
    background-color: #282828;
}
.text-grey {
    color: #717171;
}
.text-black {
    color: #000;
}
.border-grey {
    border-color: #717171!important;
}

ul {
    list-style-type: none;
}
a {
    color: #717171;
}
a:hover {
    color: white;
    text-decoration: none;
}
/* hover button add category */

#   category:hover{
    background-color: green;
}

/* Sidebar rules */

#sidebar {
    height: calc(100vh - 90px);
    width: 215px;
    z-index: 2;
}
.logo{
    width: 16%;
}


#sidebar #logo {
    height: 90px;
}
#sidebar #sidebar_options img {
    width: 30px;
}

#sidebar #sidebar_options li:first-child:before {
    content:'';
    display: block;
    background-color: #adf62f;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
}

#sidebar #sidebar_options a:hover * {
    color: white;
    filter: brightness(1)!important;
}
#sidebar #sidebar_options img:not(#home) {
    filter: brightness(1);
}


#sidebar .square {
    width: 35px;
    height: 35px;
}
#sidebar .square i {
    font-size: 20px;
}
#sidebar .create_playlist:hover .square {
    background-color: white;
}

#sidebar #playlist_entries {
    height: calc(40vh - 90px);
    overflow-y: auto;
}

#sidebar #profile a img {
    width: 18px;
}
.user_img {
    width: 20px;
    height: 20px;
    background-image: url(../img/profile.svg);
    background-position: center;
    background-size: 100%;
}
#sidebar #user div:last-child {
    font-size: 1rem;
}

/* Sidebar XS rules */

#profile-xs a:last-child {
    width: 20px;
    height: 20px;
}
#profile-xs a:last-child img {
    width: 65%;
}
#profile-xs a:first-child img {
    width: 18px;
}

/* Main content rules */

main {
    height: calc(100vh - 90px);
    padding-top: 90px;
    overflow-x: hidden;
    overflow-y: auto;
}

#filters li a {
    height: 90px;
    width: 100%;
    color: white;
}

#filters li:first-child a::after {
    content:'';
    display: block;
    background-color: #adf62f;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 3px);
}


#categorie li:first-child a::after {
    content:'';
    display: block;
    color: green;
    background-color: #adf62f;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 260%;
    transform: translate(-50%, 3px);
}

#Album li:first-child a::after {
    content:'';
    display: block;
    color: green;
    background-color: #adf62f;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 220%;
    transform: translate(-50%, 3px);
}



.playlist_overlay {
    top: 0;
}
.playlist_overlay i {
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.playlist a:first-child:hover .playlist_overlay {
    display: block!important;
}

/* Now playing bar */

#now_playing {
    height: 90px;
}
#now_playing i {
    font-size: 1.1rem;
    cursor: pointer;
}

#song_info img {
    width: 50px;
    min-width: 25px;
}
#media_icons i:nth-child(3) {
    font-size: 27px;
}
#media_icons i:nth-child(3):hover {
    transform: scale(1.2);
}
#media_icons i:nth-child(5) {
    transform: scaleX(-1);
}

#progress_bar {
    background-color: #565656;
    height: 4px;
    width: 100%;
}
#progress_bar:hover .slider {
    background-color: #adf62f;
}
#progress_bar:hover .slider_handle {
    display: block!important;
}

#volume_bar {
    background-color: #565656;
    height: 4px;
    width: 100px;
}
#volume_bar:hover .slider {
    background-color: #adf62f;
}
#volume_bar:hover .slider_handle {
    display: block!important;
}

.slider {
    background-color: #bdbdbd;
}
.slider_handle {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: white;
    height: 12px;
    width: 12px;
}

/* Media queries */

@media screen and (max-width: 576px) {
    #sidebar {
        width: 40px;
        padding: 5px 8px!important;
    }
    .disappear {
        display: none!important;
    }
    .appear {
        display: block!important;
    }
    .appear-flex {
        display: flex!important;
    }
    .playlist_overlay i {
        font-size: 3.5rem;
    }
    #now_playing {
        justify-content: space-around!important;
    }
    #now_playing > div:nth-child(2) {
        width: auto!important;
    }
    #song_info {
        margin-right: 5px!important;
    }
    #progress_bar {
        width: 20vw;
    }
}

.navigation__list {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 15px;
}

.navigation__list .active:after {
    font-family: "Ionicons";
    content: "\f126";
}
.navigation__list__item {
    color: #ffffff;
    padding: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.navigation__list__item:hover {
    text-decoration: none;
    border-right: 3px solid #ffffff;
}
.navigation__list__item i {
    width: 25px;
    display: block;
}
